---
layout: default
title: Home
---

<div>
    <p>
      {% include group-intro.html %}
    </p>

    <h3>Current Committee Members</h3>

    {% include members-with-photos.html %}
    <br />
    To join the Robotics Club please fill out the form below:
    <br />
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSc3rR8xwgZ6xN9QkCUCxOYb_lsATJfpaCiAeJYPLG5z30GJIA/viewform?embedded=true" width="640" height="2479" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
</div>

<!--div class='recent-news'>
    <h3> Recent news </h3>
    {% for post in site.posts limit:5 %}
      <div>
        <small>{{ post.date | date: "%B %e, %Y" }}</small>
        <a class='post-short-link' href="{{ post.url }}">{{ post.title }}</a>
      </div>
    {% endfor %}
</div-->
